@import 'libs/font';
@import 'libs/normalize';
@import 'libs/swiper-bundle.min';
@import 'libs/datepicker.min';

@import 'base/variables';

.container {
    position: relative;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/about';
@import 'blocks/top-block';
@import 'blocks/hamburger';
@import 'blocks/services';
@import 'blocks/masters';
@import 'blocks/slider';
@import 'blocks/gallery';
@import 'blocks/location';
@import 'blocks/choose';
@import 'blocks/menu';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/media';