.footer {
    position: relative;
    padding: 60px 0;
    &__wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__column {
        display: flex;
        flex-direction: column;
    }
    &__name {
        margin-top: -50px;
        font-family: 'Council';
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: 0.09em;
        color: $main-color;
    }
    &__text {
        margin-top: 30px;
        width: 390px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.09em;
        color: #B9B9B9;
    }
    &__mail {
        color: #B9B9B9;
        text-decoration: none;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        margin-bottom: 10px;
    }
    &__link {
        position: relative;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        text-decoration: none;
        letter-spacing: 0.01em;
        color: rgba(255, 255, 255, 0.66);
        &::after {
            content: '';
            height: 4px;
            width: 0;
            position: absolute;
            bottom: -3px; left: 0;
            display: block;
            background: $main-color;
            border-radius: 5px;
            transition: width 0.4s ease-in-out;
            }
        &:hover:after {
            width: 100%;
        }
    }
    &__shedule {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__time {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.01em;
        color: rgba(255, 255, 255, 0.66);
    }
    &__title {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.01em;
        color: rgba(255, 255, 255, 0.66);
    }
    &__social {
        margin-top: 15px;
    }
    &__phone {
        margin-top: 15px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.01em;
        color: rgba(255, 255, 255, 0.66);
        text-decoration: none;
    }
}